html, body {
    height: 100%;
}

#searchResults {
	display: none;
}

#noResults {
    text-align: center;
    font-size: 1em;
}

#map, #map-container {
    height: 90%;
}

#map-canvas {
	width: 100%;
	height: 100%;
}
